In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("tags.csv")

In [27]:
data

      userId  movieId               tag   timestamp
0          2    60756             funny  1445714994
1          2    60756   Highly quotable  1445714996
2          2    60756      will ferrell  1445714992
3          2    89774      Boxing story  1445715207
4          2    89774               MMA  1445715200
...      ...      ...               ...         ...
3678     606     7382         for katie  1171234019
3679     606     7936           austere  1173392334
3680     610     3265            gun fu  1493843984
3681     610     3265  heroic bloodshed  1493843978
3682     610   168248  Heroic Bloodshed  1493844270

[3683 rows x 4 columns]

In [20]:
data[]

      userId  movieId               tag   timestamp
3680     610     3265            gun fu  1493843984
3681     610     3265  heroic bloodshed  1493843978
3682     610   168248  Heroic Bloodshed  1493844270

In [26]:
data[data["userId"] == 610]["movieId"].unique()

array([  3265, 168248])

In [28]:
movies = pd.read_csv("movies.csv")

In [29]:
huge_data = pd.merge(data, movies, on='movieId')

In [31]:
huge_data[huge_data["userId"] == 610]

,userId,movieId,tag,timestamp,title,genres
435,610,168248,Heroic Bloodshed,1493844270,John Wick: Chapter Two (2017),Action|Crime|Thriller
3681,610,3265,gun fu,1493843984,Hard-Boiled (Lat sau san taam) (1992),Action|Crime|Drama|Thriller
3682,610,3265,heroic bloodshed,1493843978,Hard-Boiled (Lat sau san taam) (1992),Action|Crime|Drama|Thriller

In [ ]:
huge_data[huge_data["genres"] ==
]