In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from ast import literal_eval
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.metrics.pairwise import linear_kernel, cosine_similarity
from nltk.stem.snowball import SnowballStemmer
from nltk.stem.wordnet import WordNetLemmatizer
from nltk.corpus import wordnet
from surprise import Reader, Dataset, SVD
from scipy.sparse import csr_matrix


import mongodb as md

import warnings; warnings.simplefilter('ignore')
movies = pd.read_csv("movies_metadata.csv")
movies['year'] = pd.to_datetime(movies['release_date'], errors='coerce').apply(lambda x: str(x).split('-')[0] if x != np.nan else np.nan)
movies = movies.drop([19730, 29503, 35587])
movies['genres'] = movies['genres'].fillna('[]').apply(literal_eval).apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])


small_links = pd.read_csv("small_links.csv")
ratings = pd.read_csv("ratings_small.csv")
movies = movies.rename(columns={'id':'movieId'})
movies["movieId"] = movies["movieId"].astype("int")

In [2]:
movies

,adult,belongs_to_collection,budget,genres,homepage,movieId,imdb_id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,year
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[Animation, Comedy, Family]",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,1995
1,False,NaN,65000000,"[Adventure, Fantasy, Family]",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,1995
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[Romance, Comedy]",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,1995
3,False,NaN,16000000,"[Comedy, Drama, Romance]",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,1995
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,[Comedy],NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,1995
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,NaN,0,"[Drama, Family]",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0,NaT
45462,False,NaN,0,[Drama],NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0,2011
45463,False,NaN,0,"[Action, Drama, Thriller]",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0,2003
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0,1917
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0,2017

In [3]:
ratings

        userId  movieId  rating   timestamp
0            1       31     2.5  1260759144
1            1     1029     3.0  1260759179
2            1     1061     3.0  1260759182
3            1     1129     2.0  1260759185
4            1     1172     4.0  1260759205
...        ...      ...     ...         ...
99999      671     6268     2.5  1065579370
100000     671     6269     4.0  1065149201
100001     671     6365     4.0  1070940363
100002     671     6385     2.5  1070979663
100003     671     6565     3.5  1074784724

[100004 rows x 4 columns]

In [4]:
knn_ratings = ratings[["userId","movieId","rating"]]
knn_movies = movies[["movieId","title"]]
knn_movie_ratings = pd.merge(knn_movies,knn_ratings,on="movieId")

movie_rating_count = (knn_movie_ratings.
                      groupby(by=["title"])["rating"].
                      count().reset_index().
                      rename(columns={'rating':'totalRating'})
                      [["title","totalRating"]]
                     )
rating_with_totalRatingCount=knn_movie_ratings.merge(movie_rating_count,left_on='title',right_on='title',how="inner")

popularity_threshold=50
rating_popular_movie=rating_with_totalRatingCount[rating_with_totalRatingCount['totalRating']>popularity_threshold]
rating_popular_movie.head()

     movieId       title  userId  rating  totalRating
98         5  Four Rooms      15     4.5           56
99         5  Four Rooms      18     3.0           56
100        5  Four Rooms      44     3.0           56
101        5  Four Rooms      55     3.0           56
102        5  Four Rooms      69     5.0           56

In [5]:
combined = rating_popular_movie.drop_duplicates(['userId','title'])
knn_users = combined.pivot(index="title",columns="userId",values="rating").fillna(0)
knn_rating_user_csr = csr_matrix(knn_users.values)

In [6]:
from sklearn.neighbors import NearestNeighbors
model_knn=NearestNeighbors(metric="cosine",algorithm="brute")
model_knn.fit(knn_rating_user_csr)

NearestNeighbors(algorithm='brute', metric='cosine')

In [28]:
query_index=0
print(knn_users.iloc[query_index,:])
 
distances,indices=model_knn.kneighbors(knn_users.iloc[query_index,:].values.reshape(1,-1),n_neighbors=10)
print("Distances -->",distances," Indices -->",indices)
 
print(distances.flatten())
print(len(distances.flatten()))
 
for i in range(0,len(distances.flatten())):
    if i==0:
        print("Recommendation for {0}:\n".format(knn_users.index[query_index]))
    else:
        print("{0}: {1}, with distance of {2}:".format(i,knn_users.index[indices.flatten()[i]],distances.flatten()[i]))

userId
1      0.0
2      0.0
3      0.0
4      3.0
5      0.0
      ...
667    0.0
668    0.0
669    0.0
670    0.0
671    0.0
Name: 20,000 Leagues Under the Sea, Length: 665, dtype: float64
Distances --> [[6.66133815e-16 5.01715380e-01 5.48363523e-01 5.53317132e-01
  5.89048291e-01 5.89927966e-01 5.95636503e-01 5.97438486e-01
  5.97652091e-01 6.04295944e-01]]  Indices --> [[  0 131 223  20  42 134 179   6 155  96]]
[6.66133815e-16 5.01715380e-01 5.48363523e-01 5.53317132e-01
 5.89048291e-01 5.89927966e-01 5.95636503e-01 5.97438486e-01
 5.97652091e-01 6.04295944e-01]
10
Recommendation for 20,000 Leagues Under the Sea:

1: Popular Music, with distance of 0.5017153801702724:
2: Tough Enough, with distance of 0.5483635229149659:
3: Back to the Future Part II, with distance of 0.553317132295827:
4: Cockles and Muscles, with distance of 0.5890482912168521:
5: Rain Man, with distance of 0.589927965563734:
6: The Conversation, with distance of 0.5956365026359962:
7: A Nightmare on Elm Street, with distance of 0.5974384858252302:
8: Sissi, with distance of 0.5976520912403198:
9: Lost in Translation, with distance of 0.6042959435267123:

In [52]:
import seaborn as sb # visualizations
columns = ['distances','indices']
df = pd.DataFrame(columns=columns)
df['distances'] = pd.Series(distances[0])
df['indices'] = pd.Series(indices[0])

In [9]:
user_movie_rating = knn_movie_ratings.pivot_table(index='userId', columns='title', values='rating')
ratings_mean_count = pd.DataFrame(knn_movie_ratings.groupby('title')['rating'].mean())
ratings_mean_count['rating_counts'] = pd.DataFrame(knn_movie_ratings.groupby('title')['rating'].count())

def getCorelation(movieName):
    movieSelected = user_movie_rating[movieName]
    movieCorrelation = user_movie_rating.corrwith(movieSelected,method="pearson")
    df_movieCorrelation = pd.DataFrame(movieCorrelation, columns=['Correlation'])
    df_movieCorrelation.dropna(inplace=True)
    df_movieCorrelation = df_movieCorrelation.join(ratings_mean_count['rating_counts'])
    df_movieCorrelation = df_movieCorrelation[df_movieCorrelation ['rating_counts']>50].sort_values('Correlation', ascending=False).head()
    df_movieCorrelation = df_movieCorrelation.reset_index()
    return df_movieCorrelation

In [12]:
getCorelation("20,000 Leagues Under the Sea")

                          title  Correlation  rating_counts
0  20,000 Leagues Under the Sea     1.000000             89
1                       Rocky V     0.632242             54
2                     Yesterday     0.524681             54
3                     Rambo III     0.522040             66
4                     Spanglish     0.521201             51

In [13]:
movies['overview'] = movies['overview'].fillna("")
tf = TfidfVectorizer(analyzer='word',ngram_range=(1, 2),min_df=0, stop_words='english')
tfidf_matrix = tf.fit_transform(movies['overview'])
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)
moviesSIM = movies.reset_index()
titles = moviesSIM['title']
indices = pd.Series(moviesSIM.index, index=moviesSIM['title'])

In [14]:
def get_recommendations(title):
    idx = indices[title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:31]
    movie_indices = [i[0] for i in sim_scores]
    return movies.iloc[movie_indices]

In [21]:
get_recommendations("Spanglish")

,adult,belongs_to_collection,budget,genres,homepage,movieId,imdb_id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,year
10615,False,NaN,0,"[Comedy, Drama, Fantasy, Romance]",NaN,42234,tt0077452,pt,Dona Flor e Seus Dois Maridos,"In a small city of Brazil, Flor (a very good l...",...,0.0,110.0,"[{'iso_639_1': 'pt', 'name': 'Português'}]",Released,NaN,Dona Flor and Her Two Husbands,False,6.2,13.0,1976
39097,False,"{'id': 313086, 'name': 'The Conjuring Collecti...",40000000,[Horror],http://www.warnerbros.com/conjuring-2,259693,tt3065204,en,The Conjuring 2,Lorraine and Ed Warren travel to north London ...,...,320170008.0,134.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The next true story from the case files of Ed ...,The Conjuring 2,False,7.0,2018.0,2016
23967,False,NaN,0,[],NaN,358199,tt0173629,en,All the Way Home,A wife and mother in 1915 Tennessee copes with...,...,0.0,120.0,[],Released,NaN,All the Way Home,False,7.0,1.0,1981
26924,False,NaN,0,"[Romance, Adventure, Music, Drama, Western]",NaN,43880,tt0028207,en,Rose Marie,"Opera singer, Marie de Flor, seeks out fugitiv...",...,0.0,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Jeanette MacDonald and Nelson Eddy in the most...,Rose Marie,False,0.0,0.0,1936
16055,False,NaN,0,"[Drama, Romance]",NaN,182756,tt0037980,en,Perfect Strangers,Robert Donat and Deborah Kerr as a married cou...,...,0.0,102.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Mr. Chips Is Back In A New Thrilling Romance!,Perfect Strangers,False,7.0,1.0,1945
42205,False,NaN,0,"[Comedy, Drama, Romance]",http://thebigsickmovie.com,416477,tt5462602,en,The Big Sick,Pakistan-born comedian Kumail Nanjiani and gra...,...,52620184.0,120.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,An awkward true story.,The Big Sick,False,7.7,249.0,2017
20141,False,NaN,0,"[Drama, TV Movie]",NaN,237983,tt0280474,en,Just Ask My Children,Based on the true story of a modern-day witch ...,...,0.0,91.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A family torn apart by a system out of control,Just Ask My Children,False,7.2,5.0,2001
35625,False,NaN,0,[Drama],http://www.bothemovie.com/,42748,tt1511329,nl,Bo,Fifteen year old Deborah meets Jennifer who st...,...,0.0,100.0,"[{'iso_639_1': 'nl', 'name': 'Nederlands'}, {'...",Released,NaN,Bo,False,5.5,9.0,2010
241,False,NaN,0,"[Drama, Action, Thriller, Crime]",NaN,72031,tt0109906,en,The Glass Shield,J.J. is a rookie in the Sheriff's Department a...,...,0.0,109.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,In a world filled with violence... his only we...,The Glass Shield,False,5.4,9.0,1994
31740,False,NaN,0,[Drama],NaN,131116,tt0488027,pl,Plac Zbawiciela,"A story of a married couple with two children,...",...,0.0,105.0,"[{'iso_639_1': 'pl', 'name': 'Polski'}]",Released,NaN,Saviour Square,False,7.4,4.0,2006
9657,False,NaN,0,[Drama],NaN,2517,tt0408664,ja,誰も知らない,"In Tokyo, the reckless single mother Keiko mov...",...,0.0,141.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,NaN,Nobody Knows,False,7.8,92.0,2004
18115,False,NaN,0,[Drama],NaN,121462,tt0311750,ko,사랑방 손님과 어머니,"A single mother takes on a boarder, with intri...",...,0.0,103.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,My Mother and Her Guest,False,5.5,2.0,1961
20779,False,NaN,0,"[Animation, Drama, Family, Fantasy]",http://www.ookamikodomo.jp,110420,tt2140203,ja,おおかみこどもの雨と雪,"Hana, a nineteen-year-old college student, fal...",...,0.0,117.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,Love wildly,Wolf Children,False,8.0,483.0,2012
6494,False,NaN,0,[Drama],NaN,18148,tt0046438,ja,東京物語,An old couple visit their children and grandch...,...,0.0,136.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,Isn't Life Depressing?,Tokyo Story,False,8.2,190.0,1953
31880,False,NaN,0,"[Drama, Crime]",NaN,336845,tt4262142,en,Cleveland Abduction,A single mother becomes Ariel Castro's first k...,...,0.0,88.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Based on a true story.,Cleveland Abduction,False,6.5,59.0,2015
30252,False,NaN,0,"[Action, Western, Romance]",NaN,37307,tt0101609,en,Conagher,Mrs. Evie Teale is struggling to stay alive wh...,...,0.0,94.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Conagher,False,4.8,5.0,1991
43119,False,NaN,0,"[Action, Thriller]",NaN,397415,tt5460530,en,Vengeance: A Love Story,A Gulf War veteran seeks vengeance against tho...,...,0.0,99.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Vengeance: A Love Story,False,5.5,37.0,2017
25195,False,NaN,0,[Documentary],http://enlightenupthefilm.com/,39849,tt1306972,en,Enlighten Up!,Filmmaker Kate Churchill is determined to prov...,...,0.0,82.0,[],Released,A Skeptic's Journey into the World of Yoga,Enlighten Up!,False,0.0,0.0,2008
34519,False,NaN,0,[Horror],http://www.allaboutevilthemovie.com/,70448,tt1307858,en,All About Evil,Deborah quickly cultivates a rabid legion of S...,...,0.0,98.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,People are dying to get into this movie,All About Evil,False,5.6,23.0,2010
33891,False,NaN,5000000,"[Drama, Family, Romance]",http://hakase-movie.com/,89116,tt0498505,ja,博士の愛した数式,This is the story between single mother housek...,...,0.0,117.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,NaN,The Professor and His Beloved Equation,False,6.8,6.0,2006
43227,False,NaN,0,"[Drama, Comedy]",NaN,412120,tt4778500,ja,湯を沸かすほどの熱い愛,A terminally ill single mother is determined t...,...,0.0,125.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,NaN,Her Love Boils Bathwater,False,6.2,5.0,2016
3009,False,NaN,0,[Romance],NaN,78256,tt0048034,en,The End of the Affair,A civil servant's wife (Deborah Kerr) in warti...,...,0.0,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,The End of the Affair,False,6.3,2.0,1955
32092,False,NaN,0,[Comedy],NaN,11441,tt0082562,it,Innamorato pazzo,"Cristina is a rich, spoiled princess visiting ...",...,0.0,100.0,"[{'iso_639_1': 'it', 'name': 'Italiano'}]",Released,NaN,Madly in Love,False,6.8,42.0,1981
25094,False,NaN,0,"[Horror, Mystery, Thriller]",NaN,297608,tt3387648,en,The Taking of Deborah Logan,What starts as a poignant medical documentary ...,...,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Evil lives within you,The Taking of Deborah Logan,False,6.0,327.0,2014
44991,False,NaN,0,[Drama],http://www.thinkofmemovie.com/,98870,tt1198199,en,Think Of Me,As things unravel for a struggling single moth...,...,0.0,103.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Think Of Me,False,5.5,2.0,2011
33903,False,NaN,0,"[Horror, Science Fiction, Thriller]",NaN,323370,tt3603808,en,The Diabolical,When a single mother and her two young childre...,...,0.0,86.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Evil is timeless.,The Diabolical,False,4.3,75.0,2015
43678,False,NaN,0,[Drama],NaN,331641,tt4572998,es,Techo y comida,A single mother struggles to pay the rent and ...,...,0.0,0.0,"[{'iso_639_1': 'es', 'name': 'Español'}]",Released,NaN,Food and Shelter,False,5.5,11.0,2015
13245,False,NaN,35000000,"[Drama, Romance]",NaN,4148,tt0959337,en,Revolutionary Road,A young couple living in a Connecticut suburb ...,...,75225693.0,119.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,How do you break free without breaking apart?,Revolutionary Road,False,6.8,824.0,2008
30248,False,NaN,0,"[Family, Fantasy]",NaN,53780,tt0068200,en,The Amazing Mr Blunden,Mysterious old solicitor Mr. Blunden visits Mr...,...,0.0,95.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Follow him into fun, fantasy & fright -- he's ...",The Amazing Mr Blunden,False,6.6,6.0,1972
38757,False,NaN,0,"[TV Movie, Romance, Drama, Comedy]",http://www.hallmarkchannel.com/all-yours,387398,tt5368354,en,All Yours,"Cass, a high-powered attorney and single mothe...",...,0.0,84.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,All Yours,False,4.6,5.0,2016